@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-playfair: var(--font-playfair);
  --font-cormorant: var(--font-cormorant);
  --font-great-vibes: var(--font-great-vibes);
}

@layer base {
  body {
    @apply bg-rose-50 text-rose-900;
  }
}
